In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("car_data_car24.csv")
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
0,2017 Renault Duster,55.39k km,Petrol,Auto,GJ-01,₹5.27L,Account,Cars sold by owners directly
1,2021 Mahindra Thar,37.97k km,Petrol,Auto,GJ-03,₹9.80L,NaN,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k km,Petrol,Manual,GJ-03,₹3.28L,₹3.60 lakh,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k km,Petrol,Manual,GJ-27,₹10.61L,₹9.70 lakh,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k km,Petrol,Manual,GJ-27,₹6.80L,₹3.66 lakh,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k km,Petrol,Manual,MH-09,₹6.08L,₹2.03 lakh,"Tathawade, Pune"
264,2014 Tata Zest,61.92k km,Petrol,Manual,MH-14,₹7.06L,₹4.51 lakh,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k km,Petrol,Manual,MH-12,₹2.54L,₹3.42 lakh,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k km,Electric,Auto,MH-12,₹2.23L,₹2.88 lakh,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k km,Petrol,Auto,MH-31,₹5.97L,₹7.49 lakh,"Tathawade, Pune"

In [3]:
data.duplicated().sum()

np.int64(1)

In [4]:
data=data.drop_duplicates()

In [5]:
data.duplicated().sum()

np.int64(0)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 267 entries, 0 to 267
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   car_name                267 non-null    object
 1   km_travelled            267 non-null    object
 2   Fuel_type               267 non-null    object
 3   Vehicle_type            267 non-null    object
 4   Registration_Location   267 non-null    object
 5   original_price          267 non-null    object
 6   discounted_final_price  252 non-null    object
 7   selling_Location        267 non-null    object
dtypes: object(8)
memory usage: 18.8+ KB

In [7]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
0,2017 Renault Duster,55.39k km,Petrol,Auto,GJ-01,₹5.27L,Account,Cars sold by owners directly
1,2021 Mahindra Thar,37.97k km,Petrol,Auto,GJ-03,₹9.80L,NaN,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k km,Petrol,Manual,GJ-03,₹3.28L,₹3.60 lakh,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k km,Petrol,Manual,GJ-27,₹10.61L,₹9.70 lakh,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k km,Petrol,Manual,GJ-27,₹6.80L,₹3.66 lakh,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k km,Petrol,Manual,MH-09,₹6.08L,₹2.03 lakh,"Tathawade, Pune"
264,2014 Tata Zest,61.92k km,Petrol,Manual,MH-14,₹7.06L,₹4.51 lakh,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k km,Petrol,Manual,MH-12,₹2.54L,₹3.42 lakh,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k km,Electric,Auto,MH-12,₹2.23L,₹2.88 lakh,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k km,Petrol,Auto,MH-31,₹5.97L,₹7.49 lakh,"Tathawade, Pune"

In [8]:
# Remove 'k km', convert to float
data["km_travelled"] = (
    data["km_travelled"]
    .str.replace("km","", regex=False)
)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\1606763455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["km_travelled"] = (

In [9]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
0,2017 Renault Duster,55.39k,Petrol,Auto,GJ-01,₹5.27L,Account,Cars sold by owners directly
1,2021 Mahindra Thar,37.97k,Petrol,Auto,GJ-03,₹9.80L,NaN,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,₹3.28L,₹3.60 lakh,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k,Petrol,Manual,GJ-27,₹10.61L,₹9.70 lakh,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,₹6.80L,₹3.66 lakh,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k,Petrol,Manual,MH-09,₹6.08L,₹2.03 lakh,"Tathawade, Pune"
264,2014 Tata Zest,61.92k,Petrol,Manual,MH-14,₹7.06L,₹4.51 lakh,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k,Petrol,Manual,MH-12,₹2.54L,₹3.42 lakh,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,₹2.23L,₹2.88 lakh,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k,Petrol,Auto,MH-31,₹5.97L,₹7.49 lakh,"Tathawade, Pune"

In [10]:
data["discounted_final_price"] = data["discounted_final_price"].str.replace(" lakh", "L", regex=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\3496102563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discounted_final_price"] = data["discounted_final_price"].str.replace(" lakh", "L", regex=False)

In [11]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
0,2017 Renault Duster,55.39k,Petrol,Auto,GJ-01,₹5.27L,Account,Cars sold by owners directly
1,2021 Mahindra Thar,37.97k,Petrol,Auto,GJ-03,₹9.80L,NaN,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,₹3.28L,₹3.60L,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k,Petrol,Manual,GJ-27,₹10.61L,₹9.70L,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,₹6.80L,₹3.66L,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k,Petrol,Manual,MH-09,₹6.08L,₹2.03L,"Tathawade, Pune"
264,2014 Tata Zest,61.92k,Petrol,Manual,MH-14,₹7.06L,₹4.51L,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k,Petrol,Manual,MH-12,₹2.54L,₹3.42L,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,₹2.23L,₹2.88L,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k,Petrol,Auto,MH-31,₹5.97L,₹7.49L,"Tathawade, Pune"

In [12]:
# Drop rows where discounted_final_price is exactly "Account"
data = data[data["discounted_final_price"].str.strip() != "Account"]

In [13]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
1,2021 Mahindra Thar,37.97k,Petrol,Auto,GJ-03,₹9.80L,NaN,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,₹3.28L,₹3.60L,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k,Petrol,Manual,GJ-27,₹10.61L,₹9.70L,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,₹6.80L,₹3.66L,"Karnavati Club, Ahmedabad"
5,2018 Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,₹5.06L,₹2.43L,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k,Petrol,Manual,MH-09,₹6.08L,₹2.03L,"Tathawade, Pune"
264,2014 Tata Zest,61.92k,Petrol,Manual,MH-14,₹7.06L,₹4.51L,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k,Petrol,Manual,MH-12,₹2.54L,₹3.42L,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,₹2.23L,₹2.88L,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k,Petrol,Auto,MH-31,₹5.97L,₹7.49L,"Tathawade, Pune"

In [14]:
data["discounted_final_price"] = (
    data["discounted_final_price"]
    .str.replace("₹", "", regex=False)
    .str.replace("L", "", regex=False)
)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2355727755.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discounted_final_price"] = (

In [15]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
1,2021 Mahindra Thar,37.97k,Petrol,Auto,GJ-03,₹9.80L,NaN,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,₹3.28L,3.60,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k,Petrol,Manual,GJ-27,₹10.61L,9.70,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,₹6.80L,3.66,"Karnavati Club, Ahmedabad"
5,2018 Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,₹5.06L,2.43,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k,Petrol,Manual,MH-09,₹6.08L,2.03,"Tathawade, Pune"
264,2014 Tata Zest,61.92k,Petrol,Manual,MH-14,₹7.06L,4.51,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k,Petrol,Manual,MH-12,₹2.54L,3.42,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,₹2.23L,2.88,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k,Petrol,Auto,MH-31,₹5.97L,7.49,"Tathawade, Pune"

In [16]:
data["discounted_final_price"].info()

<class 'pandas.core.series.Series'>
Index: 252 entries, 1 to 267
Series name: discounted_final_price
Non-Null Count  Dtype
--------------  -----
237 non-null    object
dtypes: object(1)
memory usage: 3.9+ KB

In [17]:
data["discounted_final_price"] = pd.to_numeric(data["discounted_final_price"], errors="coerce")

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\4216400785.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discounted_final_price"] = pd.to_numeric(data["discounted_final_price"], errors="coerce")

In [18]:
data["discounted_final_price"].info()

<class 'pandas.core.series.Series'>
Index: 252 entries, 1 to 267
Series name: discounted_final_price
Non-Null Count  Dtype
--------------  -----
237 non-null    float64
dtypes: float64(1)
memory usage: 3.9 KB

In [19]:
data["discounted_final_price"].isnull().sum()

np.int64(15)

In [20]:
data["discounted_final_price"] = data["discounted_final_price"].fillna(data["discounted_final_price"].median())

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\511984290.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discounted_final_price"] = data["discounted_final_price"].fillna(data["discounted_final_price"].median())

In [21]:
data["discounted_final_price"].isnull().sum()

np.int64(0)

In [22]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
1,2021 Mahindra Thar,37.97k,Petrol,Auto,GJ-03,₹9.80L,4.30,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,₹3.28L,3.60,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k,Petrol,Manual,GJ-27,₹10.61L,9.70,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,₹6.80L,3.66,"Karnavati Club, Ahmedabad"
5,2018 Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,₹5.06L,2.43,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k,Petrol,Manual,MH-09,₹6.08L,2.03,"Tathawade, Pune"
264,2014 Tata Zest,61.92k,Petrol,Manual,MH-14,₹7.06L,4.51,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k,Petrol,Manual,MH-12,₹2.54L,3.42,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,₹2.23L,2.88,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k,Petrol,Auto,MH-31,₹5.97L,7.49,"Tathawade, Pune"

In [23]:
data["original_price"] = data["original_price"].str.replace("₹", "", regex=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\3432502809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["original_price"] = data["original_price"].str.replace("₹", "", regex=False)

In [24]:
data["discounted_final_price"] = data["discounted_final_price"].astype(str) + "L"

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\3477570557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discounted_final_price"] = data["discounted_final_price"].astype(str) + "L"

In [25]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location
1,2021 Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80L,4.3L,Cars listed by CARS24
2,2015 Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,"Karnavati Club, Ahmedabad"
3,2019 Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,"Naroda, Ahmedabad"
4,2017 Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80L,3.66L,"Karnavati Club, Ahmedabad"
5,2018 Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,"Karnavati Club, Ahmedabad"
...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,"Tathawade, Pune"
264,2014 Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,"Tathawade, Pune"
265,2024 Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,"Tathawade, Pune"
266,2025 Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,"Tathawade, Pune"
267,2017 Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,"Tathawade, Pune"

In [26]:
# Extract 4-digit year from car_name and create manufacturing_year column
data["manufacturing_year"] = data["car_name"].str.extract(r"(\d{4})").astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\3760542455.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["manufacturing_year"] = data["car_name"].str.extract(r"(\d{4})").astype(int)

In [27]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year
1,2021 Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80L,4.3L,Cars listed by CARS24,2021
2,2015 Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,"Karnavati Club, Ahmedabad",2015
3,2019 Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,"Naroda, Ahmedabad",2019
4,2017 Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80L,3.66L,"Karnavati Club, Ahmedabad",2017
5,2018 Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,"Karnavati Club, Ahmedabad",2018
...,...,...,...,...,...,...,...,...,...
263,2016 Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,"Tathawade, Pune",2016
264,2014 Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,"Tathawade, Pune",2014
265,2024 Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,"Tathawade, Pune",2024
266,2025 Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,"Tathawade, Pune",2025
267,2017 Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,"Tathawade, Pune",2017

In [28]:
# Remove the 4-digit year from car_name
data["car_name"] = data["car_name"].str.replace(r"^\d{4}\s*", "", regex=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\256246998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["car_name"] = data["car_name"].str.replace(r"^\d{4}\s*", "", regex=True)

In [29]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80L,4.3L,Cars listed by CARS24,2021
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,"Karnavati Club, Ahmedabad",2015
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,"Naroda, Ahmedabad",2019
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80L,3.66L,"Karnavati Club, Ahmedabad",2017
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,"Karnavati Club, Ahmedabad",2018
...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,"Tathawade, Pune",2016
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,"Tathawade, Pune",2014
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,"Tathawade, Pune",2024
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,"Tathawade, Pune",2025
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,"Tathawade, Pune",2017

In [30]:
import numpy as np
data["selling_Location"] = data["selling_Location"].replace("Cars listed by CARS24", np.nan)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\1420983639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["selling_Location"] = data["selling_Location"].replace("Cars listed by CARS24", np.nan)

In [31]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80L,4.3L,NaN,2021
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,"Karnavati Club, Ahmedabad",2015
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,"Naroda, Ahmedabad",2019
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80L,3.66L,"Karnavati Club, Ahmedabad",2017
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,"Karnavati Club, Ahmedabad",2018
...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,"Tathawade, Pune",2016
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,"Tathawade, Pune",2014
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,"Tathawade, Pune",2024
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,"Tathawade, Pune",2025
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,"Tathawade, Pune",2017

In [32]:
data["selling_Location"] = data["selling_Location"].fillna(data["selling_Location"].mode()[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\48582219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["selling_Location"] = data["selling_Location"].fillna(data["selling_Location"].mode()[0])

In [33]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80L,4.3L,"M3M Urbana, Golf Course Ext., Gurugram",2021
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,"Karnavati Club, Ahmedabad",2015
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,"Naroda, Ahmedabad",2019
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80L,3.66L,"Karnavati Club, Ahmedabad",2017
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,"Karnavati Club, Ahmedabad",2018
...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,"Tathawade, Pune",2016
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,"Tathawade, Pune",2014
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,"Tathawade, Pune",2024
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,"Tathawade, Pune",2025
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,"Tathawade, Pune",2017

In [34]:
# Extract city name from selling_Location
data["city"] = data["selling_Location"].str.extract(r",\s*([^,]+)$")

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2299234589.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["city"] = data["selling_Location"].str.extract(r",\s*([^,]+)$")

In [38]:
# Remove the last comma and city name
data["selling_Location"] = data["selling_Location"].str.replace(r",\s*[^,]+$", "", regex=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2576680613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["selling_Location"] = data["selling_Location"].str.replace(r",\s*[^,]+$", "", regex=True)

In [39]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year,city
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80L,4.3L,"M3M Urbana, Golf Course Ext.",2021,Gurugram
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,Karnavati Club,2015,Ahmedabad
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,Naroda,2019,Ahmedabad
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80L,3.66L,Karnavati Club,2017,Ahmedabad
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,Karnavati Club,2018,Ahmedabad
...,...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,Tathawade,2016,Pune
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,Tathawade,2014,Pune
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,Tathawade,2024,Pune
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,Tathawade,2025,Pune
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,Tathawade,2017,Pune

In [36]:
data.isnull().sum()

car_name                   0
km_travelled               0
Fuel_type                  0
Vehicle_type               0
Registration_Location      0
original_price             0
discounted_final_price     0
selling_Location           0
manufacturing_year         0
city                      11
dtype: int64

In [37]:
data.duplicated().sum()

np.int64(0)

In [40]:
data["discount"] = data["original_price"].str.replace("L", "", regex=False).astype(float) - \
                   data["discounted_final_price"].str.replace("L", "", regex=False).astype(float)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2914793790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discount"] = data["original_price"].str.replace("L", "", regex=False).astype(float) - \

In [42]:
# Remove 'L' and convert to float
data["original_price"] = data["original_price"].str.replace("L", "", regex=False).astype(float)
data["discounted_final_price"] = data["discounted_final_price"].str.replace("L", "", regex=False).astype(float)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\310144121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["original_price"] = data["original_price"].str.replace("L", "", regex=False).astype(float)
C:\Users\HP\AppData\Local\Temp\ipykernel_21268\310144121.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discounted_final_price"] = data["discounted_final_price"].str.replace("L", "", regex=False).astype(float)

In [43]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year,city,discount
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80,4.30,"M3M Urbana, Golf Course Ext.",2021,Gurugram,5.50
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28,3.60,Karnavati Club,2015,Ahmedabad,-0.32
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61,9.70,Naroda,2019,Ahmedabad,0.91
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80,3.66,Karnavati Club,2017,Ahmedabad,3.14
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06,2.43,Karnavati Club,2018,Ahmedabad,2.63
...,...,...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08,2.03,Tathawade,2016,Pune,4.05
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06,4.51,Tathawade,2014,Pune,2.55
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54,3.42,Tathawade,2024,Pune,-0.88
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23,2.88,Tathawade,2025,Pune,-0.65
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97,7.49,Tathawade,2017,Pune,-1.52

In [44]:
data["discount_percent"] = (
    (data["original_price"] - data["discounted_final_price"]) / data["original_price"]
) * 100

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\3160924245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discount_percent"] = (

In [45]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year,city,discount,discount_percent
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80,4.30,"M3M Urbana, Golf Course Ext.",2021,Gurugram,5.50,56.122449
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28,3.60,Karnavati Club,2015,Ahmedabad,-0.32,-9.756098
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61,9.70,Naroda,2019,Ahmedabad,0.91,8.576814
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80,3.66,Karnavati Club,2017,Ahmedabad,3.14,46.176471
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06,2.43,Karnavati Club,2018,Ahmedabad,2.63,51.976285
...,...,...,...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08,2.03,Tathawade,2016,Pune,4.05,66.611842
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06,4.51,Tathawade,2014,Pune,2.55,36.118980
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54,3.42,Tathawade,2024,Pune,-0.88,-34.645669
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23,2.88,Tathawade,2025,Pune,-0.65,-29.147982
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97,7.49,Tathawade,2017,Pune,-1.52,-25.460637

In [46]:
data["discount_percent"] = data["discount_percent"].astype(int)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2604099591.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discount_percent"] = data["discount_percent"].astype(int)

In [47]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year,city,discount,discount_percent
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.80,4.30,"M3M Urbana, Golf Course Ext.",2021,Gurugram,5.50,56
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28,3.60,Karnavati Club,2015,Ahmedabad,-0.32,-9
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61,9.70,Naroda,2019,Ahmedabad,0.91,8
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.80,3.66,Karnavati Club,2017,Ahmedabad,3.14,46
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06,2.43,Karnavati Club,2018,Ahmedabad,2.63,51
...,...,...,...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08,2.03,Tathawade,2016,Pune,4.05,66
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06,4.51,Tathawade,2014,Pune,2.55,36
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54,3.42,Tathawade,2024,Pune,-0.88,-34
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23,2.88,Tathawade,2025,Pune,-0.65,-29
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97,7.49,Tathawade,2017,Pune,-1.52,-25

In [48]:
data["discount_percent"] = data["discount_percent"].astype(str) + "%"

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\1051380891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discount_percent"] = data["discount_percent"].astype(str) + "%"

In [49]:
data["original_price"] = data["original_price"].astype(str) + "L"
data["discounted_final_price"] = data["discounted_final_price"].astype(str) + "L"

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2276054568.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["original_price"] = data["original_price"].astype(str) + "L"
C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2276054568.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["discounted_final_price"] = data["discounted_final_price"].astype(str) + "L"

In [50]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year,city,discount,discount_percent
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.8L,4.3L,"M3M Urbana, Golf Course Ext.",2021,Gurugram,5.50,56%
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,Karnavati Club,2015,Ahmedabad,-0.32,-9%
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,Naroda,2019,Ahmedabad,0.91,8%
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.8L,3.66L,Karnavati Club,2017,Ahmedabad,3.14,46%
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,Karnavati Club,2018,Ahmedabad,2.63,51%
...,...,...,...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,Tathawade,2016,Pune,4.05,66%
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,Tathawade,2014,Pune,2.55,36%
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,Tathawade,2024,Pune,-0.88,-34%
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,Tathawade,2025,Pune,-0.65,-29%
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,Tathawade,2017,Pune,-1.52,-25%

In [51]:
data.drop(columns=["discount"], inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\2976314339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns=["discount"], inplace=True)

In [52]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year,city,discount_percent
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.8L,4.3L,"M3M Urbana, Golf Course Ext.",2021,Gurugram,56%
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,Karnavati Club,2015,Ahmedabad,-9%
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,Naroda,2019,Ahmedabad,8%
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.8L,3.66L,Karnavati Club,2017,Ahmedabad,46%
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,Karnavati Club,2018,Ahmedabad,51%
...,...,...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,Tathawade,2016,Pune,66%
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,Tathawade,2014,Pune,36%
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,Tathawade,2024,Pune,-34%
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,Tathawade,2025,Pune,-29%
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,Tathawade,2017,Pune,-25%

In [56]:
data["city"] = data["city"].fillna(data["city"].mode()[0])

C:\Users\HP\AppData\Local\Temp\ipykernel_21268\1718363640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["city"] = data["city"].fillna(data["city"].mode()[0])

In [57]:
data.isnull().sum()

car_name                  0
km_travelled              0
Fuel_type                 0
Vehicle_type              0
Registration_Location     0
original_price            0
discounted_final_price    0
selling_Location          0
manufacturing_year        0
city                      0
discount_percent          0
dtype: int64

In [58]:
data.duplicated().sum()

np.int64(0)

In [59]:
data

,car_name,km_travelled,Fuel_type,Vehicle_type,Registration_Location,original_price,discounted_final_price,selling_Location,manufacturing_year,city,discount_percent
1,Mahindra Thar,37.97k,Petrol,Auto,GJ-03,9.8L,4.3L,"M3M Urbana, Golf Course Ext.",2021,Gurugram,56%
2,Hyundai Grand i10,37.70k,Petrol,Manual,GJ-03,3.28L,3.6L,Karnavati Club,2015,Ahmedabad,-9%
3,Renault Kwid,25.00k,Petrol,Manual,GJ-27,10.61L,9.7L,Naroda,2019,Ahmedabad,8%
4,Hyundai Grand i10,69.69k,Petrol,Manual,GJ-27,6.8L,3.66L,Karnavati Club,2017,Ahmedabad,46%
5,Maruti Wagon R 1.0,79.74k,Petrol,Manual,GJ-12,5.06L,2.43L,Karnavati Club,2018,Ahmedabad,51%
...,...,...,...,...,...,...,...,...,...,...,...
263,Tata Zest,61.66k,Petrol,Manual,MH-09,6.08L,2.03L,Tathawade,2016,Pune,66%
264,Tata Zest,61.92k,Petrol,Manual,MH-14,7.06L,4.51L,Tathawade,2014,Pune,36%
265,Maruti Baleno,13.52k,Petrol,Manual,MH-12,2.54L,3.42L,Tathawade,2024,Pune,-34%
266,Mahindra XEV 9e,9.79k,Electric,Auto,MH-12,2.23L,2.88L,Tathawade,2025,Pune,-29%
267,Maruti Baleno,46.65k,Petrol,Auto,MH-31,5.97L,7.49L,Tathawade,2017,Pune,-25%

In [60]:
data.to_csv("car24_final_dataset.csv")

In [ ]:
car24_final_dataset.csv